In [1]:
import pandas as pd

In [13]:
ORDER_FILE_PATH = "/Users/anon.ong/Documents/02_CP_4_year/01_Capstone/code/simulator/log/20230219_111128/order.csv"
# /Users/anon.ong/Documents/02_CP_4_year/01_Capstone/code/simulator/log/20230219_1111

In [14]:
order_df = pd.read_csv(ORDER_FILE_PATH)

In [15]:
order_df

,id,restaurant_id,restaurant_location,customer_location,created_time,assigned_time,meal_finished_time,picked_up_time,finished_time,rider_id
0,0,158,POINT (100.5645341 13.8270341),POINT (100.60880118755551 13.857951986013582),26,26.0,1037.0,1861.0,4885.0,0.0
1,1,186,POINT (100.5620061 13.8242611),POINT (100.58317685517815 13.842826278717466),94,94.0,1010.0,8252.0,NaN,0.0
2,2,203,POINT (100.5483621 13.8401929),POINT (100.54011830906367 13.822981752980859),228,228.0,1371.0,NaN,NaN,0.0
3,3,127,POINT (100.5358786 13.8273022),POINT (100.56108086113446 13.847781620835882),618,618.0,1678.0,1680.0,3667.0,1.0
4,4,41,POINT (100.538436 13.838594),POINT (100.60911373181438 13.842537367161736),738,738.0,2745.0,5638.0,9961.0,1.0
...,...,...,...,...,...,...,...,...,...,...
100,100,32,POINT (100.5349546 13.8294607),POINT (100.57625844865383 13.844883788730725),9710,NaN,NaN,NaN,NaN,NaN
101,101,170,POINT (100.5630145 13.8203651),POINT (100.56799365674388 13.859066718615592),9745,NaN,NaN,NaN,NaN,NaN
102,102,199,POINT (100.5553484 13.82572),POINT (100.54541392867472 13.826582287838955),9874,NaN,NaN,NaN,NaN,NaN
103,103,159,POINT (100.5645341 13.8270341),POINT (100.59141857488703 13.851163966224357),9879,NaN,NaN,NaN,NaN,NaN
104,104,127,POINT (100.5358786 13.8273022),POINT (100.56718818717998 13.83682492461794),9957,NaN,NaN,NaN,NaN,NaN

In [19]:
len(order_df['assigned_time'].dropna())

39

In [20]:
len(order_df['assigned_time'].unique())

39

In [16]:
order_df['rider_id'].unique()

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., nan])