In [1]:
import pandas as pd

In [31]:
ORDER_FILE_PATH = "/Users/anon.ong/Documents/02_CP_4_year/01_Capstone/code/simulator/log/20230219_112049/order.csv"
# /Users/anon.ong/Documents/02_CP_4_year/01_Capstone/code/simulator/log/20230219_1111

In [32]:
order_df = pd.read_csv(ORDER_FILE_PATH)

In [33]:
order_df

,id,restaurant_id,restaurant_location,customer_location,created_time,assigned_time,meal_finished_time,picked_up_time,finished_time,rider_id
0,0,75,POINT (100.5555603 13.821011),POINT (100.60880118755551 13.857951986013582),27,27.0,976.0,978.0,2558.0,0.0
1,1,4,POINT (100.5338511 13.8411814),POINT (100.58317685517815 13.842826278717466),96,96.0,1695.0,4477.0,5986.0,0.0
2,2,144,POINT (100.5764408 13.8222855),POINT (100.54011830906367 13.822981752980859),232,232.0,1324.0,6758.0,7942.0,0.0
3,3,174,POINT (100.566485 13.8239427),POINT (100.56108086113446 13.847781620835882),628,628.0,1501.0,1653.0,2327.0,1.0
4,4,106,POINT (100.5498324 13.8209576),POINT (100.60911373181438 13.842537367161736),750,750.0,2496.0,3672.0,5109.0,1.0
...,...,...,...,...,...,...,...,...,...,...
466,466,110,POINT (100.5633957 13.8246205),POINT (100.55504841473123 13.811106413359981),53359,NaN,NaN,NaN,NaN,NaN
467,467,107,POINT (100.5645341 13.8270341),POINT (100.61129796452914 13.855752508088958),53604,NaN,NaN,NaN,NaN,NaN
468,468,90,POINT (100.5633957 13.8246205),POINT (100.57538264516558 13.809767012238924),53721,NaN,NaN,NaN,NaN,NaN
469,469,115,POINT (100.5693427 13.8212803),POINT (100.59909699809485 13.807469931526384),53890,NaN,NaN,NaN,NaN,NaN
470,470,104,POINT (100.5633957 13.8246205),POINT (100.57574072011273 13.852250184298246),53891,NaN,NaN,NaN,NaN,NaN

In [34]:
len(order_df['assigned_time'].dropna())

30

In [35]:

len(order_df['assigned_time'].unique())

31

In [37]:
order_df['assigned_time'].unique()

array([  27.,   96.,  232.,  628.,  750.,  890., 1120., 1122., 1326.,
       1439., 1508., 1632., 1806., 1878., 1935., 2328., 2559.,   nan,
       3049., 3730., 3884., 4283., 5110., 5953., 5987., 6277., 6517.,
       6584., 7796., 7943., 8168.])